section{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}


@font-face {

  font-family: Kanit-Thin;
  
  src: url(Materiales/Kanit-Thin.ttf);
  
  }

  h5{
    font-family: Kanit-Thin;
    color:white;
  }

  h1{
    font-family: Kanit-Thin;
    color:white;
  }

.image-1 {
    background-image: url("Materiales/1.jpg")
  }
  
  .image-2 {
    background-image: url("Materiales/2.jpg");
  }
  .image-3 {
    background-image: url("Materiales/3.jpg");
  }
  .image-4 {
    background-image: url("Materiales/4.jpg");
  }

  